<%- include('includes/header.ejs') %>

.play-field .selected{
    color: red;
}
#play-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#play-container p{
    width: 200px;
    text-align: center;
    display: block;
}
.options p{
    background-color: rgb(101, 57, 213);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.options p:hover{
    cursor: pointer;
}
.play-field{
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
}
#title{
    margin-top: 20px;
    background-color: rgb(101, 57, 213);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
#description{
    margin-top: 20px;
    background-color: rgb(101, 57, 213);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
#play-container button{
    background-color: rgb(101, 57, 213);
    margin-bottom: 15px;
    padding: 10px;
    border:none;
    border-radius: 10px;
    color: white;
}
#play-container button:hover{
    cursor: pointer;
}
form{
    width: 30%;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.form input{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.questionTitle{
    font-weight: bolder;
    background-color: rgb(45, 3, 87);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

<%- include('includes/nav.ejs') %>

    <div id="play-container">
        <p id="title"><%= quiz.quizTitle %></p>
        <p id="description"><%= quiz.quizDes %></p>
        <% for(let question of quiz.questions){ %>
            <div class="play-field">
                <p class="questionTitle"><%= question.title %></p>
                
                <div class="options">
                <% let options = question.options.slice();
                let rand = Math.round(Math.random()*3);
                options.splice(rand, 0, question.rightOption); %>
                <% for(let option of options){ %>
                    <p><%= option %> </p>
                <% } %>
                </div>
            </div>
        <% } %>
        <div id="result"></div>
        <button>SEND</button>
    </div>
</body>

<script>

    document.querySelectorAll('.options p').forEach((item) => {
        item.addEventListener('click', (e)=> {
        let a = e.target.parentNode.querySelectorAll('p');
        a.forEach((item) => {
            item.removeAttribute('class');
        })
        e.target.setAttribute('class', 'selected');
    })
    })

    document.querySelector('button').addEventListener('click', async() => {
        let data = [];
        document.querySelectorAll('.selected').forEach((item) => {
            data.push(item.innerText);
        })
        data = JSON.stringify(data);
        
        let a = await fetch('/play-quiz', {
            method: 'POST',
            body: data,
            headers: {
        "Content-type": "application/json; charset=UTF-8"
    }
        })
        a = a.json().then(res => {
            console.log(res);
            document.querySelector('#result').innerText = 'Result = ' + res.result;
        });
    })
</script>
</html>